body {
    font-family: 'Roboto', sans-serif;
   
}

header {
    padding: 20px 0;
    border-bottom: 2px solid #fff;
    
}

#logo {
    font-size: 28px;
    font-weight: bold;
    transition: text-shadow 0.3s, transform 0.3s;
}

#logo:hover {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

#product-info {
    padding-top: 20px;
}

#product-info h1 {
    font-size: 36px;
}

#product-info p {
    font-size: 18px;
}

section#pricing {
    padding: 50px 5px;
}

.product {
    border: 1px solid #dee2e6;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.product h3 {
    color: #007bff;
}

.product p {
    color: #555;
}

.product .price {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
}

.carousel-img {
    /* Defina o tamanho das imagens do carrossel */
    max-height: 400px;
    object-fit: cover; /* Manter proporções da imagem */
}
/* Adicione este código ao seu arquivo de estilo CSS */


.carousel-item.fadeIn {
    opacity: 1 !important;
}
/* Adicione este código ao seu arquivo de estilo CSS */

.carousel-item {
    transition: opacity 0.5s ease-in-out;
    opacity: 0.7; /* Adicione opacidade padrão às imagens */
}
.carousel-item img {
    border-radius: 10px; /* Adicione bordas arredondadas às imagens do carrossel */
    width: 100%; /* Garanta que a imagem ocupe a largura completa do contêiner */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px; /* Adicione bordas arredondadas ao fundo do texto */
}
#investmentCarousel:hover .carousel-caption {
    opacity: 0.9;
}
.carousel-item.active {
    opacity: 1 !important; /* Tornar o slide ativo completamente visível */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7); /* Adicione fundo com opacidade para o texto */
    color: white; /* Cor do texto no fundo escuro */
    padding: 20px;
}

/* Adicione este trecho para ajustar a opacidade do texto quando o mouse estiver sobre o carrossel */
#investmentCarousel:hover .carousel-caption {
    opacity: 0.9;
}

footer {
    padding: 20px 0;
    margin-top: 20px;
    text-align: center;
}
